<% title "Services" %>
<div id="wrappersub">
<header>
<a href="/"><h1 class="logo">Anumira Technologies</h1></a>
<nav>
<ul>
<li class="rtline"><%= link_to "Overview", :controller => "overview" %></li>
<li class="rtline"><%= link_to "Services", :controller => "services" %></li>
<li class="rtline"><%= link_to "Blog", :controller => "posts" %></li>
<li class="rtline"><%= link_to "Join Anumira", :controller => "jobs" %></li>
<li><%= link_to "Contact us", :controller => "contact", :action => "new" %></li>
</ul>
</nav>
</header>
<section id="contents">
<div class="colleft">
<h1>Services</h1>
<article>
<p class="title">We have designed our models for rapid, scalable and robost deployments.</p>
<p class="bor"><%= image_tag("components/services/descflow.jpg", :alt => "Description Flow") %></p>
<div class="border"></div>
<div class="content1">
  <h4>Cloud applications</h4>
  <p>The trend of migrating businesses to cloud platform proves to be an efficient model and the customers find them flexible in
all aspects. Anumira realises this and the team works towards in bringing out most of the applications on cloud.</p>
</div>
<div class="content2">
<h4>Application development and integrations</h4>
<p>The company realizes that business growth rely on a valued cost effective model and works on  IT business transformation, develop strategies and product innovation. We believe in reliablity and hence work towards to roll out high productive systems with most reliable robust solutions. </p>
</div>
<div class="content1">
  <h4>Consulting</h4>
  <p>Taking IT services to the next level of exploration and leverage, the company provides consulting on strategic approaches, product ideation and innovation; cost management, product re-engineering and system transformation</p>
</div>
</article>
</div>
<aside class="colrights">
<div class="sideshw"><%= image_tag("components/blog/sidesep.png", :alt => "Seperatorshadow") %></div>
<div class="sidecont">
<h4>Services Indices:</h4>
<ul>
<li>Intranet Portals</li>
<li>Corporate B2B</li>
<li>Collaboration Portals</li>
<li>Document Management Solution</li>
<li>Knowledge Management Solution</li>
<li>Business Process Automation</li>
<li>E Commerce Portal</li>
<li>ERP solutions</li>
<li>System Deployment</li>
<li>Product Reengineering</li>
<li>UI / UX engineering</li>
<li>System Administration & Maintenance</li>
</ul>
</div>
</aside>
</section>