<% title "Overview" %>
<div id="wrappersub">
<header>
<a href="/"><h1 class="logo">Anumira Technologies</h1></a>
<nav>
<ul>
<li class="rtline"><%= link_to "Overview", :controller => "overview" %></li>
<li class="rtline"><%= link_to "Services", :controller => "services" %></li>
<li class="rtline"><%= link_to "Blog", :controller => "posts" %></li>
<li class="rtline"><%= link_to "Join Anumira", :controller => "jobs" %></li>
<li><%= link_to "Contact us", :controller => "contact", :action => "new" %></li>
</ul>
</nav>
</header>
<section id="contents">
<div class="colleft">
<h1>Overview</h1>
<article>
<p class="title">Anumira Technologies, founded in early 2012, to provide services for IT solutions and develop cloud applications.</p>
<p class="bor">With the focus on growing demand for both services and solutions; and to move the entreprise level application to the 
generations that looks for performance based, cost effective and stable processing of system, the company works on rolling 
out innovative products from its desk.</p>
<div class="border"></div>
<div class="content1">
  <h4>Team</h4>
  <p>A bunch of professionals with handful of experience in IT domain and technology consulting grouped to roll out the company, Anumira. More updates on this section...</p>
</div>
<div class="content2">
<h4>Technical Expertise</h4>
<p>The Team at Anumira works on .NET platform, RoR and Zend framework.  </p>
</div>
</article>
</div>
<aside class="colrights">
<div class="sideshw"><%= image_tag("components/blog/sidesep.png", :alt => "Seperatorshadow") %></div>
<div class="sidecont"></div>
</aside>
</section>