<% title "Jobs at Anumira" %>
<div id="wrappersub">
<header>
<a href="/"><h1 class="logo">Anumira Technologies</h1></a>
<nav>
<ul>
<li class="rtline"><%= link_to "Overview", :controller => "overview" %></li>
<li class="rtline"><%= link_to "Services", :controller => "services" %></li>
<li class="rtline"><%= link_to "Blog", :controller => "posts" %></li>
<li class="rtline"><%= link_to "Join Anumira", :controller => "jobs" %></li>
<li><%= link_to "Contact us", :controller => "contact" %></li>
</ul>
</nav>
</header>
<section id="contents">
<div class="colleft">
<h1>Careers</h1>
<article>
<p class="title">Be a part of an energetic, proactive and an enthusiatic team</p>
<p class="bor">&nbsp;</p>
<div class="border"></div>
<div class="content1">
  <h4>RoR Developer</h4>
  <p><b>Key Requirements: -</b> Ruby on Rails - CSS 3.0, HTML5, Javascript - API Integration - Web Services (REST, XML etc) - Database integration</p>
  <p><b>What we look for:</b> You will be working with a team of passionate developers. You should be a self learner and should be able to work in a team environment. We are looking for someone really smart yet casual, someone who can bite the nuts and burn crackers throughout 365 days and granted work will be fun.</p>
    <h4>.NET Developer</h4>
  <p><b>Key Requirements: -</b> Net 3.5, MS SQL Server 2008, Visual Studio 2008/TFS,VB.NET / C#.NET, ASP.NET, including style sheeting, AJAX</p>
  <p><b>Roles include:</b> The design, development, implementation and ongoing maintenance of the software system.
Performing analysis and investigation tasks as require by the development lead.
Creating design documents under instruction.
Programming and unit testing.
Maintenance of work flow tasks that are used to control development.
Application of quality assurance processes to the implemented solution and it's adherence to standards and best practices.</p>
</div>

<div class="content2">
<section class="perks">
<h4>Additions:</h4>
<ul>
              <li>Post your resumes with a cover note to jobs@anumira.com</li>
              <li>Candidates are required to undergo psychometric assessment as an initial screening</li>
              <li>Salary will be best in the industry</li>
              <li>You will be working with a highly passionate and pro active team</li>
            </ul>
</section>
</div>
</article>
</div>
<aside class="colrights">
<div class="sideshw"><%= image_tag("components/blog/sidesep.png", :alt => "Seperatorshadow") %></div>
<div class="sidecont"></div>
</aside>
</section>